
{% extends 'pagina/base.html'%}

{% load static %}
{% block title%}
Albumes
{% endblock%}

{% block contenid_que_cambia %}
<!DOCTYPE html>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5"><img src="{% static 'pagina/assets/img/avataaars.svg' %}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Albumes</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">CODERHOUSE</p>
            </div>
        </header>
        
        <h1>PAGINA DE ALMBUMES</h1>
    
        <form action=""    method="post">{% csrf_token %}
            <p> Album: <input type = "text" name="album">
            <p> Autor: <input type = "text" name="autor">
            <p> Anio de lanzamiento: <input type = "number" name="lanzamiento">
            <input type = "submit" value="Enviar">
        </form>   
    
{% endblock %}
