
{% extends 'pagina/base.html'%}

{% load static %}
{% block title%}
Inicio
{% endblock%}

{% block contenid_que_cambia %}
<!DOCTYPE html>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5"><img src="{% static 'pagina/assets/img/avataaars.svg' %}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Bandas</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">CODERHOUSE</p>
            </div>
        </header>
        
        <h1> PAGINA DE BUSCAR BANDAS </h1>

        <form action=""    method="post">{% csrf_token %}

            <p> Banda: <input type = "text" name="banda">
            <input type = "submit" value="Enviar">
        </form>   
        {{ data }}
    
        {% comment %} <P> Estamos buscando la: {{ data }} </p>
            {% if bandas %} 
    
            <ul>
            {% for banda in bandas %}
                <li> {{banda.banda}} </li>
                <li> {{banda.mejor_disco}} </li>
                <li> {{banda.anio}} </li>
            {% endfor %}
    
            </ul>
    
            {% endif %} 
    
{% endcomment %}




{% endblock %}